.bannerText-container {
    padding: 20px 0 40px 0;
    font-weight:100;
    margin:0 auto;
    color:#69767F;
    background: #ddd;
    text-align: center;
}

.bannerText-wrapper {
    /* font:32px/50px 'Lato', sans-serif; */
    padding:45px 0 15px;
    font-size: 32px;
    line-height: 50px;
}

.bannerText {
    width: 90%;
    margin: 0 auto;
    animation-name: banner-animation;
    animation-duration: 1s;
    transform: translateY(1rem);
    /* opacity: 0; */
    /* animation-fill-mode: forwards; */
} 
 
@keyframes banner-animation {
    0% {opacity:0;transform: translate(0px,0);}
    /* 50% {opacity:0.5;transform: translate(0px,0.5rem);} */
    100% {opacity:1;transform: translate(0px,1rem);}
}