html,button,ul,li,p,a {
    font-family: Lato;
    font-weight: 400;
    color: rgba(85,85,85);
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    border: none;
}

ul {
    padding: 0px;
    list-style-position: inside;
}

.textDeco {
    text-decoration: none;
    color: #474950;
    text-transform: uppercase;
}

.paragraph {
    margin: 10px 0;
}
  

.banner {
    max-width: 100%;
}

/************* General pages ************/

.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    margin: 10px 0;
    line-height: 40px;
}

.title.sub {
    font-weight: 200;
    margin: 30px 0 0 0;
}

/************* Borderland page ************/

.card-container {
    border: solid 1px;
    margin: 20px 0;
}

.card-title-container {
    display: flex;
    padding: 5px 10px;
    background-color: #600080;
    color: #FFF;
}

.horn-icon {
    font-size: 30px;
    margin: 15px 10px 0px 0;
}

.card-container-context-container {
    padding: 20px;
}

.card-button {
    background-color: #3fac9d;
    color: #FFF;
    text-align: center;
    border-radius: 6px;
    padding: 15px 10px;
    font-size: 18px;
    width: 168px;
}

/************* Home page ************/

.logo-container {
    text-align: center;
    margin: 30px auto;
}

.button-container {
    text-align: center;
}

.button-purple {
    background: #600080;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 27px;
}

.button-purple.second {
    margin-top: 30px;
}

.newsNinformation {
    border-bottom: 1px dashed;
    color: #555;
    padding: 10px 0;
}

.newsNinformation.title {
    line-height: 28px;
    font-size: 20px;
}

.RRS {
    background: #f6f4f4;
    border-top: solid #600080 1px;
    margin: 20px 0;
    border-bottom: solid #600080 1px;
    text-align: right;
    line-height: 28px;
}

.RSS-icon {
    margin-right: 5px;
    color: #600080;
}

.RSS-text {
    padding-right: 5px;
}

/************* Projects and Programmes Page ************/
.anchor_style {
    text-decoration: underline;
    color: blue;
}

/************* Your Borderlands Page ************/
.FaCogs {
    color: #600080;
    font-size: 100px;
    animation: cogs-animation 0.5s backwards ease-in;
}

@keyframes cogs-animation {
    0% {transform: translateY(-8rem)}
    50% {transform: translateY(2rem)}
    70% {transform: translateY(-1rem)}
    100% {transform: translateY(0rem)}
}

.footer-container {
    border-top: 1px solid rgba(218, 222, 225, 0.85);
    background: none repeat scroll 0 0 #EEEEEE;
    display: flex;
    justify-content: flex-end;
    line-height: 22px;
    padding: 30px 0 10px;
}


/* screen size bigger 1024px - laptop */
@media only screen and (min-width: 1024px) {
    body {
        width: 80%;
        min-width: 1024px;
        max-width: 1400px;
        margin: 0 auto;
    }

    .container {
        flex-direction: row;
        max-width: 90%;
        margin: 30px auto;
    }

    .home-container-column-left {
        margin-right: 30px;
        flex-basis: 70%;
    }

    .home-container-column-right {
        flex-basis: 30%;
    }
}

/* screen size bigger 1024px - laptop */
@media only screen and (min-width: 1440px) {    
    .container {
        max-width: 95%;
    }
}